58bca7e2-df97-4d76-bd82-af9121bc0956/test git-2025-09-01 03:35:22.224990.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: test git
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.34@611538dd92e8b164bd88aa4027cceeda28aeaf6ff19ea82a5925c20f9f358651
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 1024
        batch_count_limit: 5
        file_size_limit: 1024
        image_file_size_limit: 1024
        video_file_size_limit: 1024
        workflow_file_upload_limit: 1024
      image:
        enabled: false
      number_limits: 3
    opening_statement: ''
    related_retrieve_reference_information:
      enabled: false
    retriever_resource:
      enabled: true
    scheduled_execution:
      default_question: 1阿1饿啊的
      enabled: false
      execution_hour: 0
      execution_min: 0
      frequency: weekly
      timezone: Asia/Shanghai
      weekday: 1
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
    version_control:
      enabled: true
      repo_path: https://github.com/MycomeC/dify_flow_version_control.git
      token: Sensitive data has been hidden
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1756260240085-llm
      source: '1756260240085'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 53
      id: '1756260240085'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-max
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 380
        y: 275.9848748195894
      positionAbsolute:
        x: 380
        y: 275.9848748195894
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 104
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -196.62894141266463
      y: 63.40879367349123
      zoom: 0.6909564399838878
